# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
project.lock.json
*.nuget.props
*.nuget.targets

# Node
node_modules/
.next/
out/
.env*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Secrets
*.pfx
*.pem
appsettings.Development.json
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
